<h1><%= @author.name %> Show Page</h1>

<div id="author-book-info">
  <% @author.books.each do |book| %>
  <ul id="book-<%= book.id %>">
    <li>
    <%= link_to book.title, book_path(book) %>
    </li>
      <%= book.top_review.first.title %>
      <p><%= book.top_review.first.rating %></p>
      <p><%= link_to book.top_review.first.user.name, user_path(book.top_review.first.user) %></p>
    <li>
    </li>
      <img class="img-thumbnail" src="<%= book.cover_image %>">
    <li>
    <%= book.year %>
    </li>
    <li>
    <%= book.pages %>
    </li>
    <% book.authors.each do |author| %>
    <% if author.name != @author.name %>
    <li>
    Co Authored by: <%= link_to author.name, author_path(author)%>
    </li>
    <% end %>
    <% end %>
  </ul>
  <% end %>
</div>
