<h1><%= @user.name %>Show Page</<h1>
  <section id="show-links">
    <%= link_to "Newest Reviews", user_path(@user, sort: :asc) %>
    <%= link_to "Oldest Reviews", user_path(@user, sort: :desc) %>
    </section>
  <section id="review-list">
    <h2><%= @user.name %>'s Reviews</h2>
    <% if @sort_reviews == nil %>
    <% @user.reviews.each do |review| %>
    <ul id="review-<%= review.id %>">
      <li><%= review.book.title %></li>
      <li><img class="review_img" src="<%= review.book.cover_image %>"></li>
      <p><%= review.title %></p>
      <li><%= review.rating %></li>
      <li><%= review.description %></li>
      <p>Review created at: <%= review.created_at %></p>
      <%= link_to "Delete Review", book_review_path(review.id, review.user_id, review.book_id), method: :delete %>
    </ul>
    <% end %>
    <% else %>
    <% @sort_reviews.each do |review| %>
    <ul id="review-<%= review.id %>">
      <li><%= review.book.title %></li>
      <li><img class="review_img" src="<%= review.book.cover_image %>"></li>
      <p><%= review.title %></p>
      <li><%= review.rating %></li>
      <li><%= review.description %></li>
      <p>Review created at: <%= review.created_at %></p>
      <%= link_to "Delete Review", book_review_path(review.id, review.user_id, review.book_id), method: :delete %>
    </ul>
    <% end %>
    <% end %>
  </section>
