<h1>Books Index</h1>

<nav id="sorting">
  <%= link_to "Average Rating Ascending", books_path({sort: :asc}) %>
  <%= link_to "Average Rating Descending", books_path({sort: :desc}) %>
</nav>
<div>
   <% @books.each do |book| %>
  <ul id="book-info-<%= book.id %>">
    <li>
      <%= link_to book.title, book_path(book) %>
    </li>
    <li>
      <%= book.pages %>
    </li>
    <li>
      <%= book.year %>
    </li>
    <% book.authors.each do |author| %>
    <li> <%= author.name %></li>
    <% end %>
        <img class="img-thumbnail" src="<%= book.cover_image %>">
      </ul>
      <ul id="book-rev-stat-<%= book.id %>">
        <li>Average Rating: <%= book.avg_rating.round(1) %></li>
        <li>Total Reviews: <%= book.review_count.to_i %></li>
      </ul>
  <% end %>
</div>
